@model MPRTSearch.ViewModel.SPA.SearchResultViewModel 
@*PagedList.IPagedList<MPRTSearch.ViewModel.SPA.SearchResultViewModel>*@
@using PagedList.Mvc;
@{
    ViewBag.Title = "Hemsida";
}

    <div class="jumbotron">
        <p class="lead">
            @{
                Html.RenderAction("GetSearchInput", Model.searchViewModel);
            }
        </p>

    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    <td>
                        @if ((Model != null) && (Model.ListSearchDataSet != null))
                        {
                            <span style="height: 20px; line-height: 20px;">Total @Model.ListSearchDataSet.TotalItemCount.ToString() rekord，nuvarande @Model.ListSearchDataSet.PageNumber sida/total @Model.ListSearchDataSet.PageCount sidor </span>
                            @Html.PagedListPager(Model.ListSearchDataSet, page => Url.Action("ExcuteNavigation", new { page, seaText = Model.searchViewModel.SearchText }), new PagedListRenderOptions() { LinkToFirstPageFormat = "Första sidan", LinkToNextPageFormat = "Nästa", LinkToPreviousPageFormat = "Föregående", LinkToLastPageFormat = "Sista", DisplayItemSliceAndTotal = false, MaximumPageNumbersToDisplay = 10 })
                        }
                    </td>
                </tr>
            </table>
            <table id="ResultTable" name="ResultTable" class="table" style="word-break:break-all; word-wrap:break-word;">

                @{
                    if (Model.ListSearchDataSet != null)
                    {
                        for (int searchDataSetIndex = 0; searchDataSetIndex < Model.ListSearchDataSet.Count; searchDataSetIndex++)
                        {
                            <tr>
                                <td class="col-xs-12" >
                                    <h3><a class="btn-link" href="/SPA/Detail/Index/@Model.ListSearchDataSet[searchDataSetIndex].ID.ToString()?nm=@Model.GetRowId(Model.ListSearchDataSet.PageNumber,Model.ListSearchDataSet.PageSize,searchDataSetIndex)">kategori:&nbsp;@Model.GetTypeName(Model.ListSearchDataSet[searchDataSetIndex].TypeID)&nbsp;</a></h3>
                                    <h4>
                                        @(new HtmlString(Model.GetRowData(Model.ListSearchDataSet[searchDataSetIndex])));
                                    </h4>
                                </td>
                            </tr>
                        }
                    }
                }
            </table>

        </div>

    </div>
    <table>
        <tr>
            <td>
                @if ((Model != null)&&(Model.ListSearchDataSet != null))
                {
                <span style="height: 20px; line-height: 20px;">Total @Model.ListSearchDataSet.TotalItemCount.ToString() rekord，nuvarande @Model.ListSearchDataSet.PageNumber sida/total @Model.ListSearchDataSet.PageCount sidor </span>
                    @Html.PagedListPager(Model.ListSearchDataSet, page => Url.Action("ExcuteNavigation", new { page,seaText= Model.searchViewModel.SearchText }), new PagedListRenderOptions() {  LinkToFirstPageFormat = "Första sidan", LinkToNextPageFormat = "Nästa", LinkToPreviousPageFormat = "Föregående", LinkToLastPageFormat = "Sista", DisplayItemSliceAndTotal = false, MaximumPageNumbersToDisplay = 10 })
                }
            </td>
        </tr>
    </table>

